<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to GoT, <%= @user.username %></h1>
    <p>
      You have successfully created a profile at GoT.com.
      Your username is: <%= @user.username %>.<br>
    </p>
    <p>
      To login to the site, just follow this <a href="localhost:3000/sign_in">link</a>
    </p>
    <p>Thanks for joining GoT!</p>
  </body>
</html>
