<section id="section1">
<div class="section hero">
  <div class="container">
  	<div class="row">
  		<div class="12 columns" id="header">
  			<h1>Optional Header</h1>
  		</div>
  		<div id="splash">
  		<div class="one-half column">
  			<h4 class="hero-heading">The more she shat arya watcher on the walls arthur dayne.</h4>
        <div id="buttons">
  			<a class="button button-primary" href="/signup" id="create">Create Account</a>
  			<a class="button button-primary" href="/login" id="login">Log In</a>
      </div>
      </div>
  		</div>
  	</div>
  </div>
  </div>
</section>
