<section id="section1">
<div class="section hero">
  <div class="container">
  	<div class="row group">
  		<div class="12 columns" id="header">
        <div id="buttons">
  			  <a class="button button-primary" href="/cities" id="create">Towns and Fortesses</a>
  			  <a class="button button-primary" href="/login" id="login">Identify Yourself</a>
      </div>
      </div>
      </div>
  		</div>
  	</div>
  </div>
  </div>
</section>
<section id="section2">
  <div class="section hero">
    <div class="container">
      <div class="row group" id="winter">
        <div class="8 columns" id="stark">
          <img src="/assets/westeros.jpg" alt="" usemap="#Map" id="westeros" />
          <map name="Map" id="Map">
            <area alt="" title="Gulltown" href="/cities/1" shape="poly" coords="212,244,211,263,226,264,226,248" />
            <area alt="" title="Volantis" href="/cities/2" shape="poly" coords="339,381,355,385,344,397,353,390" />
            <area alt="" title="Meereen" href="/cities/3" shape="poly" coords="528,388,545,399,530,407,546,411" />
            <area alt="" title="Oldtown" href="/cities/4" shape="poly" coords="68,402,56,394,50,404,60,411" />
            <area alt="" title="Kings Landing" href="/cities/5" shape="poly" coords="170,308,153,303,154,315,169,317" />
            <area alt="" title="Qarth" href="/cities/6" shape="poly" coords="642,410,614,411,616,424,641,427" />
            <area alt="" title="Braavos" href="/cities/7" shape="poly" coords="305,167,280,167,281,184,302,184" />
            <area alt="" title="White_harbor" href="/cities/8" shape="poly" coords="168,155,142,156,142,171,166,176" />
            <area alt="" title="Lannisport" href="/cities/9" shape="poly" coords="66,303,46,303,44,319,65,317" />
            <area alt="" title="Pentos" href="/cities/10" shape="poly" coords="211,340,188,340,190,362,218,362" />
            <area alt="" title="Astapor" href="/cities/11" shape="poly" coords="542,450,515,451,516,464,549,469" />
            <area alt="" title="Yunkai" href="/cities/12" shape="poly" coords="554,425,528,425,522,440,552,444" />
            <area alt="" title="Qohor" href="/cities/13" shape="poly" coords="434,269,403,267,401,291,432,294" />
            <area alt="" title="Storms End" href="/cities/14" shape="poly" coords="152,244,126,241,126,261,154,262" />
            <area alt="" title="Riverrun" href="/cities/15" shape="poly" coords="74,234,57,237,56,253,77,251" />
            <area alt="" title="Sunspear" href="/cities/17" shape="poly" coords="238,420,211,419,210,428,238,431" />
          </map>

        </div>
      </div>
    </div>
  </div>
</section>
