<section id="section1">
<div class="section hero">
  <div class="container">
  	<div class="row group">
  		<div class="12 columns" id="header">
        <div id="buttons">
  			  <a class="button button-primary" href="/cities" id="create">Towns and Fortesses</a>
  			  <a class="button button-primary" href="/login" id="login">Identify Yourself</a>
      </div>
      </div>
      </div>
  		</div>
  	</div>
  </div>
  </div>
</section>
<section id="section2">
  <div class="section hero">
    <div class="container">
      <div class="row group" id="winter">
        <div class="8 columns" id="stark">
          <img src="/assets/westeros.jpg" alt="" usemap="#AreaMap" id="westeros" />
          <map name="Map" id="AreaMap">
              <area alt="" title="" href="/cities/1" shape="rect" coords="224,245" />
              <area alt="" title="" href="/cities/2" shape="rect" coords="344,395" />
              <area alt="" title="" href="/cities/3" shape="rect" coords="528,399" />
              <area alt="" title="" href="/cities/4" shape="rect" coords="61,397" />
              <area alt="" title="" href="/cities/5" shape="rect" coords="170,307" />
              <area alt="" title="" href="/cities/6" shape="rect" coords="629,424" />
              <area alt="" title="" href="/cities/7" shape="rect" coords="293,184" />
              <area alt="" title="" href="/cities/8" shape="rect" coords="196,346" />
              <area alt="" title="" href="/cities/9" shape="rect" coords="61,291" />
              <area alt="" title="" href="/cities/10" shape="rect" coords="287,308" />
              <area alt="" title="" href="/cities/11" shape="rect" coords="531,456" />
              <area alt="" title="" href="/cities/12" shape="rect" coords="534,413" />
              <area alt="" title="" href="/cities/13" shape="rect" coords="411,276" />
              <area alt="" title="" href="/cities/14" shape="rect" coords="206,346" />
              <area alt="" title="" href="/cities/15" shape="rect" coords="121,258" />
              <area alt="" title="" href="/cities/16" shape="rect" coords="63,240" />
              <area alt="" title="" href="/cities/17" shape="rect" coords="220,422" />
          </map>

        </div>
      </div>
    </div>
  </div>
</section>
