<section id="section1">
<div class="section hero">
  <div class="container">
  	<div class="row group">
  		<div class="12 columns" id="header">
  			<h1>Optional Header</h1>
  		</div>
  		<div id="splash">
  		<div class="one-half column">
  			<h4 class="hero-heading">The more she shat arya watcher on the walls arthur dayne.</h4>
        <div id="buttons">
  			<a class="button button-primary" href="/signup" id="create">Create Accout</a>
  			<a class="button button-primary" href="/login" id="login">Log In</a>
      </div>
      </div>
  		</div>
  	</div>
  </div>
  </div>
</section>
<section id="section2">
  <div class="section hero">
    <div class="container">
      <div class="row group" id="winter">
        <div class="8 columns" id="stark">
          <img src="http://static.sensacionalista.com.br/wp-content/uploads/2015/04/westeros.jpg" alt=""  usemap="#Map" id="westeros"/>
<map name="Map" id="Map">
    <area alt="" title="" href="#" shape="rect" coords="97,195" />
    <area alt="" title="" href="#" shape="poly" coords="956,2304,956,2304,956,2304" />
</map>

        </div>
      </div>
    </div>
  </div>
</section>
<section id="section3">
  <div class="section hero">
    <div class="container">
      <div class="row group" id="top">
        <div class="one-fifth column">
          <img src="https://s-media-cache-ak0.pinimg.com/736x/1b/37/7e/1b377e5d9b34a4d8d5cd910f846f0862.jpg"/>
        </div>
        <div class="two-fifths column">
          <img src="http://vignette2.wikia.nocookie.net/gameofthrones/images/8/8d/Volantis_5x03_(1).jpg/revision/latest?cb=20150427111331"/>
        </div>
        <div class="one-fifth column">
          <img src="http://vignette4.wikia.nocookie.net/gameofthrones/images/8/89/Meereen.png/revision/latest?cb=20150328211743"/>
        </div>
        <div class="one-fifth column">
          <img src="http://vignette2.wikia.nocookie.net/iceandfire/images/c/cc/Oldtown-Game-of-Thrones.jpeg/revision/latest?cb=20120619213250"/>
        </div>
      </div>
    </div>
      <div class="container">
        <div class="row group" style="display: inline-block;" id="bottom">
          <div class="one-fifth column">
            <img src="http://vignette3.wikia.nocookie.net/gameofthrones/images/4/43/GreatSeptExteriors.jpg/revision/latest?cb=20150321161915"/>
          </div>
          <div class="three-fifths column">
            <img src="http://vignette4.wikia.nocookie.net/gameofthrones/images/7/7b/Titan_of_Braavos.jpg/revision/latest/scale-to-width-down/1000?cb=20150504024857"/>
          </div>
          <div class="one-fifth column">
            <img src="http://awoiaf.westeros.org/images/thumb/a/ab/Qarth_HBO.jpg/638px-Qarth_HBO.jpg"/>
          </div>
        </div>
      </div>
    </div>
  </section>
