<div class="container">
  <p>Here is the show page of posts from user</p>
  <ul>
    <% @posts.each do |post| %>
    <li><%= post.title %></li>
    <li><%= post.id %></li>
    <%= link_to "Delete", delete_path, method: :delete %>
    <% end %>
  </ul>
</div>
