<section>
<div class="container">
<div class="row">
<div class="12 columns" style="display: inline;">
<a href="http://fontmeme.com/game-of-thrones-font/"><img src="http://fontmeme.com/embed.php?text=Towns%20and%20fortresses&name=Game of Thrones.ttf&size=10&style_color=15155E" alt="Game of Thrones Font"></a>
</div>

<div>

	<% @cities.each do | city | %>
		<div class="two columns">
			<a href="/cities/<%= city.id %>">
			 <%= image_tag(city.sigil_image,class: "sigil-size")%>
			</a>
			<a href="/cities/<%= city.id %>">
		  <h3 id="city-font"><%= city.name %></h3></a>
    </div>
    <br>
	<% end %>

</div>
 <div>
   <div>
     <div class="row group" id="winter">
       <div class="three-fourths column" id="stark">
         <img src="/assets/westeros.jpg" alt="" usemap="#Map" id="westeros2" />
         <map name="Map" id="Map">
         <area alt="" title="Gulltown" href="/cities/1" shape="poly" coords="220,257,181,257,179,287,220,289" />
         <area alt="" title="Volantis" href="/cities/2" shape="poly" coords="376,376,321,375,320,420,370,425" />
         <area alt="" title="Meereen" href="/cities/3" shape="poly" coords="575,393,506,384,510,431,578,428" />
          <area alt="" title="Oldtown" href="/cities/4" shape="poly" coords="85,374,28,375,31,415,82,415" />
          <area alt="" title="Kings Landing" href="/cities/5" shape="poly" coords="203,302,145,297,152,332,199,330" />
          <area alt="" title="Qarth" href="/cities/6" shape="poly" coords="673,379,595,381,593,463,664,457" />
          <area alt="" title="Braavos" href="/cities/7" shape="poly" coords="340,155,258,158,265,210,329,203" />
          <area alt="" title="White Harbor" href="/cities/8" shape="poly" coords="183,145,121,146,127,175,190,178" />
          <area alt="" title="Lannisport" href="/cities/9" shape="poly" coords="88,282,28,286,34,318,82,311" />
          <area alt="" title="Storms End" href="/cities/10" shape="poly" coords="230,336,183,334,186,362,227,365" />
          <area alt="" title="Astapor" href="/cities/11" shape="poly" coords="564,445,503,444,506,481,566,482" />
          <area alt="" title="Yunkai" href="/cities/12" shape="poly" coords="566,415,518,416,519,448,566,447" />
          <area alt="" title="Qohor" href="/cities/13" shape="poly" coords="463,269,398,261,402,291,453,291" />
          <area alt="" title="Riverrun" href="/cities/14" shape="poly" coords="139,255,96,256,98,286,131,283" />
          <area alt="" title="Pyke" href="/cities/15" shape="poly" coords="104,232,47,226,54,250,99,250" />
          <area alt="" title="Sunspear" href="/cities/16" shape="poly" coords="266,419,178,420,183,454,262,446" />
         </map>
       </div>
     </div>
   </div>
 </div>
</section>
</div>

