<div class="container">
	<h3>City Index</h3>

	<ul>
	<% @cities.each do | city | %>
		<li><a href="/cities/<%= city.id %>"><%= city.name %></a></li>
		<li><%= city.id %></li>
	<% end %>
	</ul>
</div>
