<div class="container">

<a href="http://fontmeme.com/game-of-thrones-font/"><img src="http://fontmeme.com/embed.php?text=Towns%20and%20fortresses&name=Game of Thrones.ttf&size=10&style_color=15155E" alt="Game of Thrones Font"></a>
</div>
<div class="section hero">
	<div class="container">
	<ul style="list-style: none;">
	<% @cities.each do | city | %><% city.sigil_image %>
		<li>
			<a href="/cities/<%= city.id %>">
			<%= link_to image_tag(city.sigil_image) %>
			</a>
		</li>
		<li>
			<a href="/cities/<%= city.id %>">
		<%= city.name %></a>
		</li>
	<% end %>
	</ul>
</div>
