/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require normalize
 *= require skeleton
 */

 header {
   width: 100%;
   margin-top: 1%;
   margin-bottom: 5%;
 }

 #row {
   display: block;
 }
 .logo-container {
   position: fixed;
   left: 10%;
   vertical-align: middle;
 }
 .right-panel {
   position: fixed;
   right: 10%;
   vertical-align: middle;
 }
 .logo-container a {
   text-decoration: none;
   color: #848484;
   font-size: 1em;
 }
 .right-panel a {
   text-decoration: none;
   color: #848484;
   font-size: 1em;
 }
 #login {
   margin-right: 15px;
 }


 #splash {
   display: inline-block;
 }

 .column {
   float: left;
   box-sizing: border-box;
 }
 .column:first-child {
   margin-left: 0;
 }



 h4 {
   margin-top: 0;
   margin-bottom: 2rem;
   font-weight: 300;
   text-align:left;
 }

 h1 {
   text-align: center;
 }

 .button {
   height: 38px;
   padding: 0 30px;
   text-align: center;
   font-weight: 600;
   text-decoration: none;
   cursor: pointer;
   box-sizing: border-box;
 }

 /* Slide 2 */

#slide-2 .bcg {
    margin-left: -450px;
    top: auto;
  }
  #slide-2 h2 {
    position: fixed;
    top: 70%;
  }

  /*slide 4*/

  #slide-4 .bcg {background-image: url('http://cdn.playbuzz.com/cdn/91d94bb9-c979-4585-8d49-56a50519897b/27921fda-4b38-49f6-ac4f-7d844400c3a7.jpg')}
  #slide-4 .hsContent {
    margin-left: -450px;
    position: fixed;
    top: 250px;
}
  #slide-4 h2 {
      background: none;
      padding-left: 0;
      padding-right: 0;
  }

  #banner {
    display: none;
  }

 #city-container {
   margin: auto;
   top: 0;
   right: 0;
   bottom: 0;
   left: 0;
   width: 100%;
   height: 100%;
 }
