<!DOCTYPE html>
<html>
<head>
  <title>ProjectVagabond</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
<header>
  <div class="row" id="row">
    <div class="three columns">
      <div class="logo-container">
        <a href="/"><span>GOT</span></a>
      </div>
    </div>
    <div class="nine columns">
      <div class="right-panel">
        <a href="/sign_in" style="display: inline;" id="login">Log In</a>
        <a href="/users/new" style="display: inline;">Create Account</a>
      </div>
    </div>
  </div>
  </header>


<%= yield %>

</body>
</html>
